<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Edit Skill</title>
</head>
<body>
    <h1>Edit Skill</h1>
    <h4>Current skill: <%= skill.skill %> </h4>
    <form action="/skills/<%= skill.id %>?_method=PUT " method="POST" autocomplete="off">
        <h4>New Skill:
            <input type="text" value="<%= skill.skill %>" name="skill"/> 
        </h4>
        <h4>Learned:
         <input type="checkbox" <%= skill.learned ? "checked" : "" %> name ="learned" />
        </h4>

        <button type="submit">Save Skill</button>
    </form>
</body>
</html>