body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 25%;
  margin:auto;
  font-size: 25px;
  background-image: url('/images/backgroundimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

a {
  color: #00B7FF;
}
